/* Spacers */

/* This CSS File is made for fun :) */
/* Mu Made It */

.spacer-10 {
  padding-block: 10px;
}

.spacer-20 {
  padding-block: 20px;
}

.spacer-30 {
  padding-block: 30px;
}

.spacer-40 {
  padding-block: 40px;
}

.spacer-50 {
  padding-block: 50px;
}

.spacer-60 {
  padding-block: 60px;
}

.spacer-70 {
  padding-block: 70px;
}

.spacer-80 {
  padding-block: 80px;
}

.spacer-90 {
  padding-block: 90px;
}

.spacer-100 {
  padding-block: 100px;
}

.spacer-110 {
  padding-block: 110px;
}

.spacer-120 {
  padding-block: 120px;
}

.spacer-130 {
  padding-block: 130px;
}

.spacer-140 {
  padding-block: 140px;
}

.spacer-150 {
  padding-block: 150px;
}

.spacer-160 {
  padding-block: 160px;
}

.spacer-170 {
  padding-block: 170px;
}

.spacer-180 {
  padding-block: 180px;
}

.spacer-190 {
  padding-block: 190px;
}

.spacer-200 {
  padding-block: 200px;
}

.spacer-210 {
  padding-block: 210px;
}

.spacer-220 {
  padding-block: 220px;
}

.spacer-230 {
  padding-block: 230px;
}

.spacer-240 {
  padding-block: 240px;
}

.spacer-250 {
  padding-block: 250px;
}

.spacer-260 {
  padding-block: 260px;
}

.spacer-270 {
  padding-block: 270px;
}

.spacer-280 {
  padding-block: 280px;
}

.spacer-290 {
  padding-block: 290px;
}

.spacer-300 {
  padding-block: 300px;
}

/* You can add mor if you wanted */
/* No Copy rights */
